@font-face {
font-family: fundacion;
src: url(../fonts/helveticamm/HelveticaLTStd-Blk.otf);
}
@font-face {
font-family: fundacion-b;
src: url(../fonts/helveticamm/HelveticaLTStd-Bold.otf);
}
@font-face {
font-family: fundacion-l;
src: url(../fonts/helveticamm/HelveticaLTStd-Light.otf);
}
@font-face {
font-family: fundacion-th;
src: url(../fonts/helveticamm/HelveticaLTStd-Th.otf);
}
@font-face {
font-family: fundacion-comp;
src: url(../fonts/helveticamm/HelveticaLTStd-Comp.otf);
}
@font-face {
font-family: fundacion-bc;
src: url(../fonts/helveticamm/HelveticaLTStd-BoldCond.otf);
}
@font-face {
font-family: fundacion-lc;
src: url(../fonts/helveticamm/HelveticaLTStd-LightCond.otf);
}
@font-face {
font-family: fundacion-ob;
src: url(../fonts/helveticamm/HelveticaLTStd-Obl.otf);
}
@font-face {
font-family: fundacion-r;
src: url(../fonts/helveticamm/HelveticaLTStd-Roman.otf);
}
@font-face {
font-family: fundacion-uc;
src: url(../fonts/helveticamm/HelveticaLTStd-UltraComp.otf);
}
@font-face {
font-family: fundacion-mdcn;
src: url(../fonts/helveticamm/HelveticaNeueLTStd-MdCn.otf);
}
.fundacion{
	font-family: fundacion;
}
.fundacion-b{
	font-family: fundacion-b;
}
.fundacion-l{
	font-family: fundacion-l;
}
.fundacion-th{
	font-family: fundacion-th;
}
.fundacion-comp{
	font-family: fundacion-comp;
}
.fundacion-bc{
	font-family: fundacion-bc;
}
.fundacion-ob{
	font-family: fundacion-ob;
}
.fundacion-r{
	font-family: fundacion-r;
}
.fundacion-uc{
	font-family: fundacion-uc;
}
.fundacion-mdcn{
	font-family: fundacion-mdcn;
}





/*=====BARRA LATERAL SCROLL======*/
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f;
}
::-webkit-scrollbar-thumb:active {
  background: #7f7f7f;
}
::-webkit-scrollbar-track {
  background: #cdcdcd;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #c9c9c9;
}
::-webkit-scrollbar-track:active {
  background: #bfbfbf;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


::-moz-scrollbar {
  width: 11px;
  height: 11px;
}
::-moz-scrollbar-button {
  width: 6px;
  height: 6px;
}
::-moz-scrollbar-thumb {
  background: #7f7f7f;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-moz-scrollbar-thumb:hover {
  background: #7f7f7f;
}
::-moz-scrollbar-thumb:active {
  background: #7f7f7f;
}
::-moz-scrollbar-track {
  background: #cdcdcd;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-moz-scrollbar-track:hover {
  background: #c9c9c9;
}
::-moz-scrollbar-track:active {
  background: #bfbfbf;
}
::-moz-scrollbar-corner {
  background: transparent;
}


/*===============================*/

body{
	margin:0px;
	padding:0px;
}
 /*=== LOGIN ===*/
 	div.pantalla{
 		width: 100%;
 		margin-bottom: 20px;
 		margin-top: 8%;
 	}
		div.logo{
			height: 450px;
			overflow: hidden;
			border-right:3px solid #0090d2;
			padding: 170px 0 150px 0;
		}
			div.logo img{
				width: 350px;
				height: 65px;
				margin-right: 50px;
			}
		div.formulario{
			padding: 150px 0 150px 10px;
		}
	p#importante{
		font-size: 10px;
		font-family: fundacion-l;
		margin: 0 0 0 160px;
	}
/*=====HEADER======*/	
	nav.header{
		-webkit-box-shadow: 1px 4px 13px -2px rgba(50, 50, 50, 0.71);
		-moz-box-shadow:1px 4px 13px -2px rgba(50, 50, 50, 0.71);
		box-shadow:1px 4px 13px -2px rgba(50, 50, 50, 0.71);
		overflow: hidden;
		margin: 0 0 0 0;

	}
		div.logo2{
			margin:0 0 10px 10px; 
		}
			div.logo2 img{
				width: 180px;
				height: 33.4px;
				margin-right: 50px;
				margin-top: 2%;
			}
		div.header2{
			text-align: center;
			margin: 10px 0 0 0 ;
			font-family: fundacion-l;
		}
			.nombre-u{
				font-size: 16px;
			}
		div.header3{
			margin:25px 0 0 0; 
			text-align: right;
		}

/*=======INDEX=======*/
	/*botones ayuda, salir*/
	
		div.form-group div.col-sm-3 button{
			border:none;
			padding: 10px 20px;
			margin-left: -4px;
			color: white;
			font-family: fundacion-b;
		}
			button.ayuda{
				background: #0090D2;
			}
			button.salir{
				background: #CE3433;
			}
			button.ayuda:hover,button.salir:hover{
				-webkit-box-shadow: 1px 2px 7px -1px rgba(50, 50, 50, 0.71);
							-moz-box-shadow:1px 2px 7px -1px rgba(50, 50, 50, 0.71);
							box-shadow:1px 2px 7px -1px rgba(50, 50, 50, 0.71); 
			}

	/*tiras de los menús*/
		div.container{
			height: 530px;
			z-index: -10;
		}
			ul.dashboard {
				height: 350px;
				width: 1100px;
				left: 100px;
			}
				ul.dashboard li{
					margin-top: 0;
				}
				ul.dashboard li div{
					margin:0 0 0 60px;
				}
					li div.uno,div.dos,div.tres{
						height: 100px;
						background: #0090D2;
						color: white;
						text-align: center;
						font-family: fundacion-b;
						font-size: 20px;
					}

						 img.imgs-dashboard{
							margin: 8px;
							padding:10px 5px 5px 5px;
						}
					li.buttons div.form-group div.as{
						left: 20px;
					}

					ul.consulta{
						background: #dbdbdb;
						position: absolute;
						left: 122px;
						top: 100px;
						width: 166px;
						text-align: center;

					}
						ul.consulta,ul.captura,ul.reportes{
							padding-right: 0px !important;
							-webkit-box-shadow: 1px 2px 7px -1px rgba(50, 50, 50, 0.71);
							-moz-box-shadow:1px 2px 7px -1px rgba(50, 50, 50, 0.71);
							box-shadow:1px 2px 7px -1px rgba(50, 50, 50, 0.71); 

						}
						ul.consulta li,ul.captura li, ul.reportes li{
						border-bottom: 1px solid #0090D2;
						
					}
						ul li:last-child{
							border-bottom: none;
						}
					ul.consulta li a,ul.captura li a, ul.reportes li a{
						width: 100%;
						margin:0px;
						padding: 15px 0px;
					}
					ul.consulta li a:hover,ul.captura li a:hover, ul.reportes li a:hover{
						width: 100%;
						background: #0090D6;
						color: white;

					}
					ul.captura{
						background: #dbdbdb;
						position: absolute;
						left: 352px;
						top: 100px;
						width: 166px;
						text-align: center;
					}
					ul.reportes{
						background: #dbdbdb;
						position: absolute;
						left: 584px;
						top: 100px;
						width: 166px;
						text-align: center;
					}
						
/*=====NAV=====*/
		nav.menu{
		background: #0090D2;
		z-index: -2;
		}

			ul.navazul li{
				text-align: center;
				padding-bottom: -10px;
				margin-top: 2px;
			}
			ul.navazul li a:hover,ul.nav-right:nth-child(1) a:hover{background: #004B9C;color: white;}
			ul.nav li a p{
				color: white;

			}

			div.titulo p{
				color: white;
				font-size: 32px;
				font-family: fundacion-l;
				padding-top: 15px;
				text-align: center;
			}

			ul.nav-right{
				margin-left:190px; 
				text-align: center;
			}
				ul.nav-right li{
					width: 100px;
				}
				ul.nav-right li a.salir{
					background: #CE3433;
				}

			.dropbtn2 {
			    border: none;
			    cursor: pointer;
			    background: none;
				} 
					
					.dropdown {
					    position: relative;
					    display: inline-block;
					}

						.dropdown-content2 {
						     display: none;
						    position: absolute;
						    background-color: #f9f9f9;
						    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
						    z-index: 1;
						    min-width: 120px;
						}
						.dropdown-content2 li{
							list-style:none;
							margin: none;
						}
						.dropdown-content2 li a {
						    display: block;
						    text-decoration: none;
						    padding: 5px 8px;
						}
						
						.dropdown:hover .dropdown-content2 {
						    display: block;

						}
	/*=======Buscador=======*/

			.search-form .form-group {
			  float: right !important;
			  transition: all 0.35s, border-radius 0s;
			  width: 100%;
			  height: 32px;
			  background-color: #fff;
			  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
			  border-radius: 25px;
			  border: 1px solid #ccc;
			  border-radius: 25px 25px 25px 25px;
			}
			.search-form .form-group input.form-control {
			  padding-right: 20px;
			  border: 0 none;
			  background: transparent;
			  box-shadow: none;
			  display:block;
			}			
			.search-form .form-group span.form-control-feedback {
			  width: 34px;
			  height: 34px;
			  line-height: 34px;
			  text-align: center;
			  color: #3596e0;
			}
	/*=======DIV CONTENIDO PROVEEDORES=======*/
		div.container-proveedor{
			margin-top: 20px;
			padding-left: 5%;		
		}
		div.izq{
			border-right: 1px solid #0090d6;
			height: 460px;
		}
			div.izq div.registros{
				margin-left: -50px; 
			
			}/*
				div.izq div.registros div.cont{
					overflow: hidden;
					height: 510px;
					overflow-y: scroll; 
				}
*/				div.izq div.registros div.cont table td{
					border: none;
					cursor: pointer;
				}
					div.izq div.registros div.cont table td a{
						text-decoration:none;
						cursor: pointer;
						font-family: fundacion-l;
					}
				
			div.der{
				
			}
			div.container div.der div.datos div.datos-bancarios p{
				line-height: 14px;
			}
		div.container div.der div.datos div.datos-bancarios p:nth-child(2){
			line-height: 28px;
		
		}
			div.container div.der div.datos div.datos-bancarios h3{
				margin-top: 20px;
			}
			div.container div.der div.datos div.datos-generales h3{
				margin-top: 10px;
			}
			div.container div.der div.datos div.datos-bancarios p.id-datos,div.datos-generales p.id-datos{
				padding-bottom: 10px;
			}
				div.container div.der div.datos div.datos-bancarios p.id{
					font-family: fundacion-b;
					font-size:28px ;
					color: #0090d6;
					margin-top: 20px;
					margin-bottom: 15px;

				}
		div.container div.der div.iconos{
			float: right;
			text-align: center;
		}
			div.container div.der div.iconos section{
				margin-top: 10px;
			}
				div.iconos section button{
					text-decoration:none;
					background: none;
					border:none;
					padding: 5px;

				}div.iconos section button:hover {
					background: rgba(0,0,0,.1);
					border-radius: 10px;
				}
				div.der div.datos div p.id-datos{
					font-family: fundacion-mdcn;
					font-size:16px;
				}
				div.der div.datos div p.nombre{
				}
				div.der div.datos div h3{
					font-family: fundacion-comp;
					color: #0090d6;
				}
	div.der div.datos2 div.datos-bancarios{
		top:120px;
	}
	div. der div.eventos div.datos-bancarios{
		top: -50px !important;
	}
		/*div.datos2 div.datos-bancarios p {
			font-family: fundacion-l;
			padding-top: 5px;
		}
		div.datos2 div.datos-bancarios p:nth-child(1) {
			font-size: 18px;
			font-family: fundacion-b;
		}
		div.datos2 div.datos-bancarios p:nth-child(2) {
			font-family: fundacion-mdcn;
			color: #0090d6;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 32px;
		}
		div.datos2 div.datos-bancarios p:nth-child(3) {
			font-size: 20px;
			font-family: fundacion-b;
		}
		div.datos2 div.datos-bancarios p:nth-child(4) {
			font-size: 22px;
		}
		div.datos2 div.datos-bancarios p:nth-child(5) {
			font-size: 20px;
		}
		
		div.der div.eventos div p.strong{
			font-family: fundacion-b;
			font-size: 16px;
			margin-top: 8px;
		}
		div.der div.datos2 div.datos-bancarios p.des{
			line-height: 19px !important;
			text-align: justify;
		}*/
		div.der div.eventos div.evento{
			top:0 !important;
		}
		/*=====CAPTURA APOYOS======*/
	div.captura-apoyos{
		margin-top: 25px;

	}

	.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 20px;
	} 
		
		.dropdown {
		    position: relative;
		    display: inline-block;
		    float: right;
		    font-family: fundacion-l;
		}

			.dropdown-content {
			    display: none;
			    position: absolute;
			    -webkit-transition: all 2s linear 1s;
			       -moz-transition: all 2s linear 1s;
			        -ms-transition: all 2s linear 1s;
			         -o-transition: all 2s linear 1s;
			            transition: all 2s linear 1s;

			}
			.dropdown-content a {
			    color: black;
			    padding: 2px 16px;
			    text-decoration: none;
			    display: block;
			    text-align: center;
			}
			.dropdown-content a:hover {font-size: 18px;}
			.dropdown:hover .dropdown-content {
			    display: block;

			}
		div.form-der div.col-md-8 div.form-group {
			text-align: center;
			font-family: fundacion-l;
		} 
			
			div.form-der div.col-md-8 div.form-group p{
				font-family: fundacion-l;
				font-size: 18px;
				margin:5px 0 40px 0;

			}
			div.form-der div.col-md-8 div.form-group img.img1{
				margin-top: 100px;	
				text-align: center;
			} div.form-der div.col-md-8 div.form-group a:hover{
				color: gray;
				text-decoration:none;
				font-size: 18px;
			}

	footer{
		width: 100%;
		height: 70px;
		background: #0090d6;
		text-align: center;
		padding: 25px 0;
		line-height: 8px;
		bottom: 0;
		margin-top: 65px;


	}
		footer p{
			color: white;
			text-align: center;
			
		}footer p:nth-child(1){
			font-size: 18px;
			font-family: fundacion-l;

		}footer p:nth-child(2){
			font-family: fundacion-b;
			font-size: 16px;
		}

/*=====menu despegable nuevo=====*/

	div.iconos section.nuevo button img{
		width: 35px;

	}
	div.der div.datos div form div.form-group label{
		font-family: fundacion-l;
	}
	div#datos-usuario p{
		margin-top: 20px;
		
	}
	#vista-id{
		font-family: fundacion-comp;
		color: #0090d6;
	}

/*===BOTON EXCEL==*/
div.dt-buttons a{
	color: white;
	background: #286090;
	padding: 5px 11px; 
	text-decoration: none;
	border-radius: 4px;
	cursor: pointer;
}
/*==========*/
/*======BOTON SALIR========*/

a.salir{
	height: 83px;

}

/*=====================*/
@media (max-width: ){

}
p.id{
	font-family: fundacion-b;
	font-size:28px ;
	color: #0090d6;
}
.titulos{
	font-size: 16px;
	font-weight: bold;
	font-family: fundacion-l;
}
div.subp{
	margin-top: 70px;
}